<p>Dear {{ user.username }},</p>   <!-- Personalized greeting to the user with the user's username -->

<!-- Reset password link -->
<p>
  To reset your password, please <a href="{{ url_for('reset_password', token=token, _external=True) }}">click here</a>.
</p>

<!-- Password reset link for copy-pasting -->
<p>Otherwise, you can copy and paste the following link in your browser: </p>
<p>{{ url_for('reset_password', token=token, _external=True) }}</p>

<!-- Note for non-requested password reset -->
<p>If you have not requested resetting the password, so please ignore this message.</p>
<p>Our team are very sorry about that!</p>

<!-- Closing message -->
<p>Sincerely,</p>

<!-- 4Mail Team signature -->
<p>4Mail Team</p>