<!-- Extends the base HTML template -->
{% extends "base.html" %}

<!-- Imports the 'wtf.html' file from the Bootstrap library -->
{% import 'bootstrap/wtf.html' as wtf %}

<!-- Defines a block named 'app_content' to put into the parent file 'base.html' -->
{% block app_content %}
  <!-- Creates a row for the page content -->
  <div class="row">
    <!-- Creates a column of width 4 with an offset of 4 in the medium and extra-small screen sizes -->
    <div class="col-md-4 offset-md-4 col-xs-8 offset-xs-2">
      <!-- Displays the heading for resetting the password -->
      <h1>Reset the Password</h1>
    </div>
  </div>

  <!-- Creates another row for the form content -->
  <div class="row">
    <!-- Creates a column of width 4 with an offset of 4 in the medium and extra-small screen sizes -->
    <div class="col-md-4 offset-md-4 col-xs-8 offset-xs-2">
      <!-- Renders the form using the 'quick_form' function from the 'wtf' module -->
      {{ wtf.quick_form(form) }}
    </div>
  </div>
{% endblock %}
