{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <div class="row">
    <div class="col-md-4 offset-md-4 col-xs-8 offset-xs-2">
      <h1> <center> Register - 4Mail </center> </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 offset-md-4 col-xs-8 offset-xs-2">
        <div class="register-form-group">
            <form action="" method="POST" novalidate>
               {{form.hidden_tag()}} 
                  <p align="center"> {{form.username.label}} <br>
                     {{form.username(size=32)}}</p>

                  <p align="center"> {{form.email.label}} <br>
                     {{form.email(size=32)}}</p>
           
                  <p align="center"> {{form.password.label}} <br>
                     {{form.password(size=32)}}</p>
           
                  <p align="center"> {{form.confirm_password.label}} <br>
                     {{form.confirm_password(size=32)}}</p>
           
                  <p align="center">{{form.submit()}}</p>
            </form>
         </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 offset-md-4 col-xs-8 offset-xs-2">
      <p align="center">Already have an account? <a href="{{ url_for('login') }}">Click to login!</a>
      </p>
    </div>
  </div>
{% endblock %}
