{% extends "base.html"%}

{% block content %}

<html>

<head>
    <title>Latest News</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>

<body>
    <div class="container">
        <h1 class="my-4">Latest News</h1>
        {% for article in articles %}
        <a href="{{article.url}}">
        <div class="card my-4">
            <img class="card-img-top" src="{{ article.image }}" alt="{{ article.title }}">
            <div class="card-body">
                <h2 class="card-title">{{ article.title }}</h2>
                <p class="card-text">By {{ article.author }}</p>
            </div>
            <p>{{article.image}}</p>
        </div>
        </a>
        {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>
{% endblock %}