{% extends "base.html"%}

{% block content %}

  <html>
    <head>
      <title>Send Email</title>
    </head>
    <body>
      <h1 align="center">Send Email</h1>
      <hr>
      <!-- Created an input field for the recipient, subject, and message -->
      <form action="/send_email" method="post" align="center">
          <label for="recipient">Recipient:</label>
          <input type="text" id="recipient" name="recipient"><br><br>
          <label for="subject">Subject:</label>
          <input type="text" id="subject" name="subject"><br><br>
          <hr>
          <label for="message">Message:</label><br>
          <textarea id="message" name="message" rows="5" cols="50"></textarea><br><br>
          <!-- pressing send email inputs the data into the database -->
          <input type="submit" value="Send Email">
      </form>
    </body>
  </html>

{% endblock %}
