{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <div class="row">
    <div class="col-md-4 offset-md-4">
      {% if current_user.is_anonymous %}
        <h3>Welcome to 4Mail!</h3>
    </div>
    
    </div>
      {% else %}
        {% with messages = get_flashed_messages() %}  
          {% if messages %}  
              {% for message in messages %}  
                <p>{{ message }}</p>  
              {% endfor %}  
          {% endif %}  
        {% endwith %}  
        
        <h1>Welcome to 4Mail, {{ current_user.username }}!</h1>
    </div>
  </div>
      {% endif %}
{% endblock %}
