<html>
    <head>
        <title>Create A 4Mail Account!</title>
        <link rel="stylesheet" href="register_style.css">
    </head>
    <body>
        <header>
            <h1>Create An Account </h1>
        </header>

        <div class="wrapper">
            <div class="FN-input-box">
                <input type="name" required>
                <label>First Name</label>
            </div>

            <div class="LN-input-box">
                <input type="name" required>
                <label>Last Name</label>
            </div>

            <div class="E-input-box">
                <input type="email" required>
                <label>Create An Email Address</label>
            </div>

            <div class="CPW-input-box">
                <input type="password" required>
                <label>Create A Password</label>
            </div>

            <div class="PW-input-box">
                <input type="password" required>
                <label>Confirm Your Password</label>
            </div>

            <div class="submit">
                <label></label>
                <button>Create Account</button>
            </div>

            <div class="already-have">
                <label>Already have an account?</label>
                <a href="/login">Log In</a>
            </div>


        </div>

    </body>
</html>