<!DOCTYPE html>
<html>
  <head>
    <title>4Mail - Register</title>
  </head>
  <body>
    <h1>Register for 4Mail</h1>
    <form method="POST" action="{{ url_for('register') }}">
      {{ form.hidden_tag() }}
      <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br>
        {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
      </p>
      <p>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}<br>
        {% for error in form.email.errors %}
        <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
      </p>
      <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}
        <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
      </p>
      <p>
        {{ form.confirm_password.label }}<br>
        {{ form.confirm_password(size=32) }}<br>
        {% for error in form.confirm_password.errors %}
        <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
      </p>
      <p>{{ form.submit() }}</p>
    </form>
  </body>
</html>
